{% extends 'blog/base.html'%}  
{% load static %}

     <!-- <title>{{ article.title }}</title>-->

    {% block content %}
    <h1>{{ article.title }}</h1>
    
    {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image.url }}" />
     <!-- {{ article.image.url }}-->
    {% endif %}
    <p>by {{ article.author.username }} | Published: {{ article.created_at }} | Updated: {{ article.updated_at }}</p>
    <p>{{ article.content }}</p>
    
    <!-- Tags Section -->
    <h3>Tags:</h3>
    <ul>
        {% for tag in article.tags.all %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>

    <!-- Comments Section -->
    <h2>Comments</h2>
    <ul>
        {% for comment in article.comments.all %}
            <li>{{ comment.author }}: {{ comment.content }}</li>
        {% endfor %}
    </ul>

    <!-- Add Comment Form -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Comment</button>
    </form>

    <!-- Related Articles Section -->
    <h2>Related Articles</h2>
    <ul>
        {% for related_article in related_articles %}
            <li><a href="{% url 'article_detail' related_article.id %}">{{ related_article.title }}</a></li>
        {% endfor %}
    </ul>

    <!-- Latest Articles Section -->
    <h2>Latest Articles</h2>
    <ul>
        {% for latest_article in latest_articles %}
            <li><a href="{% url 'article_detail' latest_article.id %}">{{ latest_article.title }}</a></li>
        {% endfor %}
    </ul>

   {% endblock %}
